<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
   <br>
   
 <div class="container">
       
  <div class="row">
      <div class="col-sm-2 mt-3">
         
      

        <img src="/assets/images/amaz.jpeg" class="rounded float-left" width="50"
        height="50" alt="abc"> <br> <br>
        <img src="/assets/images/fruit.jpeg" class="rounded float-left" width="50"
        height="50" alt="abc"> <br> <br>
        <img src="/assets/images/fr.jpeg" class="rounded float-left" width="50"
        height="50" alt="abc"> <br> <br>
          <img src="/assets/images/out.jpeg" class="rounded float-left" width="50"
          height="50" alt="abc"> <br> <br>
      </div>

    <div class="col-sm-5">


      <img src="/assets/images/amaz.jpeg" class="rounded float-left" width="450"
       height="700" alt="abc">
    </div>
 
    <div class="col-sm-5">
        <h3 class="font-weight-bolder">Product Name: Midea WHS-160RB1 Single Reversible Compact Refrigerator,
           4.4 Cubic Feet, Black</h3>
           <hr>
           <p class="font-weight-normal">Price:<span class="text-danger">
              $178.79  </span> </p>
              <br>
              <form method="post">
                <textarea id="textarea">
                      <ul>
                    <li>laravel angular authentication awt</li>
                    </ul>
                    </textarea>
              
              </form>
             
    </div>
  </div>
 </div>

    
</body>

</html>
